@use "../../dx-styles.scss" as *;

.dx-swatch-additional,
.dx-swatch-additional-dark {
  &.side-navigation-menu {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    padding: 0 30px;
    // background-color: #1a2129;
    background-color: var(--base-sidebar);

    .menu-container {
      // min-height: 100%;
      display: flex;
      flex: 1;
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      margin-bottom: 30px;

      .dx-treeview {
        // ## Long text positioning
        white-space: nowrap;
        // ##

        .dx-treeview-node-container:empty {
          display: none;
        }

        .dx-treeview-node:not(:first-child) {
          margin-top: 5px;
        }

        .dx-state-selected {
          border-radius: 8px;
          border-color: rgba(255, 255, 255, 0.06);
          background: var(--nav-bg);

          .dx-treeview-item {
            .treeview-item {
              color: #2bfecd;
            }
            &::before {
              opacity: 1;
            }
          }
        }

        // ## Icon width customization
        .dx-treeview-item {
          padding-left: 0;
          border-radius: 0;
          flex-direction: row-reverse;
          // new
          color: var(--Neutral-Colors-03, #c0c4cf);
          // font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.6;
          // display: block;
          padding: 0;
          border: 1px solid transparent;
          transition: all 0.3s ease;
          position: relative;
          background-color: transparent;
          .dx-treeview-expander-icon-stub {
            display: none;
          }
          .treeview-item {
            display: flex;
            align-items: center;
            gap: 14px;
            color: #fff;
            padding: 12px 14px;
          }

          .dx-icon {
            width: $side-panel-min-width !important;
            margin: 0 !important;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            border-radius: 0px 4px 4px 0px;
            background: var(--Secondary-Colors-01, #2bfecd);
            transform: translateY(-50%);
            width: 4px;
            height: 26px;
            opacity: 0;
            transition: all 0.3s ease;
          }
          &:hover {
            border-radius: 8px;
            border-color: rgba(255, 255, 255, 0.06);
            background: rgba(255, 255, 255, 0.04);
            color: #2bfecd;
            &::before {
              opacity: 1;
            }
            svg path {
              stroke: #2bfecd;
            }
          }
        }

        // ##

        // ## Arrow customization
        .dx-treeview-node {
          padding: 0 0 !important;
        }

        .dx-treeview-toggle-item-visibility {
          right: 10px;
          left: auto;
        }

        .dx-rtl .dx-treeview-toggle-item-visibility {
          left: 10px;
          right: auto;
        }
        // ##

        // ## Item levels customization
        .dx-treeview-node {
          &[aria-level="1"] {
            font-weight: bold;
          }

          &[aria-level="2"] .dx-treeview-item-content {
            font-weight: normal;
            padding: 0 $side-panel-min-width;
          }
        }
        // ##
      }
    }
    .admin-menu {
      h5 {
        color: var(--Neutral-Colors-04, #fff) !important;
        font-size: 12px !important;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        padding-bottom: 20px;
        opacity: 0.3;
        margin-bottom: 0;

        display: none;
        .dx-drawer-opened & {
          display: block;
        }
      }
      .dx-treeview {
        // ## Long text positioning
        white-space: nowrap;
        // ##

        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 10px;

        .dx-treeview-node-container:empty {
          display: none;
        }

        .dx-treeview-node:not(:first-child) {
          margin-top: 5px;
        }

        .dx-state-selected {
          border-radius: 8px;
          border-color: rgba(255, 255, 255, 0.06);
          background: rgba(255, 255, 255, 0.04);
          color: #2bfecd;
          .dx-treeview-item {
            &::before {
              opacity: 1;
            }
          }
        }

        // ## Icon width customization
        .dx-treeview-item {
          padding-left: 0;
          border-radius: 0;
          flex-direction: row-reverse;
          // new
          color: var(--Neutral-Colors-03, #c0c4cf);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.6;
          display: block;
          padding: 0;
          border: 1px solid transparent;
          transition: all 0.3s ease;
          position: relative;
          background-color: transparent;
          .dx-treeview-expander-icon-stub {
            display: none;
          }
          .treeview-item {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 12px 14px;
          }

          .dx-icon {
            width: $side-panel-min-width !important;
            margin: 0 !important;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            border-radius: 0px 4px 4px 0px;
            background: var(--Secondary-Colors-01, #2bfecd);
            transform: translateY(-50%);
            width: 4px;
            height: 26px;
            opacity: 0;
            transition: all 0.3s ease;
          }
          &:hover {
            border-radius: 8px;
            border-color: rgba(255, 255, 255, 0.06);
            background: rgba(255, 255, 255, 0.04);
            color: #2bfecd;
            &::before {
              opacity: 1;
            }
            svg path {
              stroke: #2bfecd;
            }
          }
        }

        // ##

        // ## Arrow customization
        .dx-treeview-node {
          padding: 0 0 !important;
        }

        .dx-treeview-toggle-item-visibility {
          right: 10px;
          left: auto;
        }

        .dx-rtl .dx-treeview-toggle-item-visibility {
          left: 10px;
          right: auto;
        }
        // ##

        // ## Item levels customization
        .dx-treeview-node {
          &[aria-level="1"] {
            font-weight: bold;
          }

          &[aria-level="2"] .dx-treeview-item-content {
            font-weight: normal;
            padding: 0 $side-panel-min-width;
          }
        }
        // ##
      }
    }

    .sidebar {
      overflow-y: auto;
      scrollbar-width: none;
    }
  }
  .search {
    position: relative;
    display: none;
    .dx-drawer-opened & {
      display: block;
    }
    img {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
    .search-box {
      border-radius: 100px !important;
      border: 1px solid rgba(255, 255, 255, 0.1) !important;
      background: var(--base-bg);
      padding: 08px 20px 08px 35px !important;

      width: 100% !important;

      &::before {
        display: none !important;
      }
    }
  }
}

.dx-drawer-overlap.pre-init-blink-fix {
  @import "../../utils/patches.scss";
  @include menu-pre-init-patch;
}

.dx-swatch-light .dx-state-selected {
  .dx-treeview-item {
    .treeview-item {
      color: #fff !important;
    }
  }
}

.side-navigation-menu {
  .main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 24px;
    margin-bottom: 20px;
    img:nth-child(2) {
      display: none;
      .dx-drawer-opened & {
        display: block;
      }
    }
  }
  .user-info h2 {
    color: var(--Neutral-Colors-04, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 6px;
    text-align: center;
    display: none;
    .dx-drawer-opened & {
      display: block;
    }
  }
  .user-info p {
    color: #c0c4cf;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    display: none;
    .dx-drawer-opened & {
      display: block;
    }
  }
}
.dx-swatch-light {
  .search {
    .search-box {
      border: 1px solid #dbdbdb !important;
      background: transparent;
    }
  }
}

.dx-treeview-toggle-item-visibility {
  display: none !important;
  .dx-drawer-opened & {
    display: flex !important;
  }
}

.sidebar-menu-toggle {
  position: absolute;
  top: 200px;
  right: -20px;
  z-index: 99999999999999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--base-sidebar);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}
