$base-accent: #0f6cbd;
$base-bg: #ffffff;
$base-sidebar: #330964;
$nav-bg: linear-gradient(92deg, #2775ff -1.82%, #2bfecd 103.35%);
$base-border-color: #e0e0e0;
$base-text-color: #181818;
$base-border-radius: 4px;
